/* ==========================================================
   POOJITH PORTFOLIO
   File: typography.css
========================================================== */

body{

    font-size:var(--body);

}

h1,h2,h3,h4,h5,h6{

    font-family:var(--font-display);

    font-weight:500;

    line-height:.95;

    letter-spacing:-.03em;

}

.display-title{

    font-size:var(--hero);

    text-transform:uppercase;

}

.section-title{

    font-size:var(--h1);

    margin-bottom:var(--space-32);

}

.lead{

    font-size:var(--body-large);

    color:var(--text);

    max-width:42rem;

}

p{

    color:var(--text-light);

    max-width:65ch;

}

.label{

    display:inline-block;

    margin-bottom:var(--space-16);

    color:var(--accent);

    text-transform:uppercase;

    letter-spacing:.25em;

    font-size:var(--caption);

}

.text-muted{

    color:var(--text-muted);

}